# OS related
.DS_Store

# tofu related
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
tofu/main/*/*config
*.tfvars
*.tfvars.json

# IDE related
.idea
.vscode

# Others
scripts/utils/*.txt
scripts/utils/import-metrics/metrics*
scripts/utils/import-metrics/chunks_head
scripts/utils/import-metrics/wal
scripts/utils/import-metrics/queries.active
scripts/utils/import-metrics/*.tar.gz

# Binaries
/dartboard
/scripts/soak/soak

# Vendored binaries
/internal/vendored/bin
/.bin

dist/
