.DS_Store
.idea

terraform/main/*/.terraform
terraform/main/*/.terraform.lock.hcl
terraform/main/*/terraform.tfstate
terraform/main/*/terraform.tfstate.*
config/*.yaml
config/*.sh
config/rke*

bin/out.json
bin/results.csv
