# OS related
.DS_Store

# tofu related
.terraform
.terraform.lock.hcl
.terraform.tfstate.*
terraform.tfstate
terraform.tfstate.*
tofu/main/*/config
*.tfvars

# IDE related
.idea
.vscode

# Others
scripts/utils/*.txt

# Binaries
/dartboard
/scripts/soak/soak
